<h2 class="title">Login</h2>
<form name="loginForm" ng-submit="vm.login(loginForm.$valid)">
    <div class="input-wrapper email">
        <input type="email" name="email" id="email" ng-model="vm.email" placeholder="Email" required >
    </div>
    <div class="input-wrapper password">
        <input type="password" name="password" id="password" ng-model="vm.password" placeholder="Password" required >
    </div>
    <div class="button-wrapper">
        <button type="submit" class="button-primary">Login</button>
    </div>
</form>
<div class="links-wrapper">
    <p>Forgot your password? <a href="/#!/reset">Reset</a></p>
    <p class="second-link">Don't have an account? <a href="/#!/signup">Sign Up</a></p>
</div>
